body {
    font-family: Arial, sans-serif;
    background-image: url("img.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ac0826;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #ec0716;
    transform: scale(1.05);
}

.coin {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 20px auto;
    display: none;
    transform-style: preserve-3d;
}

@keyframes flip {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-150px);
    }
}

.result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-20px);
}

.toss-animation {
    animation: bounce 1s forwards, flip 1s forwards;
}

.show-result {
    opacity: 1;
    transform: translateY(0);
}
